:root {
    --color-pink-light: #F7cbd3;
    --color-background: #ece6e6;
    ---font-family-arial: Arial, sans-serif;
    ---font-size-max: 3rem;
    ---font-size-med: 2rem;
    ---font-size-min: 0.8rem;
    ---opacity: 50%;
    ---border-radius: 50px;
    --box-shadow: 0 0.5rem 1rem #521908;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

body {
    margin: 0;
    background-color: var(--color-background);
}

main .section-principal {
    width: 100%;
    height: 100vh;
}

.section-principal .principal-produto {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 30px;
}

.section-principal h1 {
    text-align: center;
    color: black;
    font-size: 2rem;
}

.section-principal button {
    border-radius: 20px;
    padding: 5px;
    font-size: 2rem;
    background-color: #5454e5;
    color: #ffffff;
    font-family: var(---font-family-arial);
    font-weight: 600;
    width: 300px;
    height: 40px;
    cursor: pointer;
    margin-top: 30px;
}

#conteiner-produtos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 10cm;
    height: 5cm;
    background-color: #521908;
    margin-top: 30px;
}

.content-produto-etiqueta {
    width: 8cm;
    height: 3cm;
    background-color: red;
}

@media print {
    @page  {
        size: 8cm 3cm;
        margin: 0;
    }
    body * {
        visibility: hidden;
    }

    .content-produto-etiqueta, .content-produto-etiqueta * {
        visibility: visible;
    }

    .content-produto-etiqueta {
        position: absolute;
        top: 0;
        left: 0;
        width: 8cm;
        height: 3cm;
    }
}
