<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/style.css" rel="stylesheet">
    <title>Gerar Código de Barras</title>
    <script src="https://cdn.jsdelivr.net/npm/jsbarcode@3.11.0/dist/JsBarcode.all.min.js"></script>
</head>
<body>
<main>
    <section class="section-principal">
        <div class="principal-produto">
            <h1>Imprimir produtos</h1>
            <button onclick="window.print()">Imprimir etiqueta</button>
            <div id="conteiner-produtos">
                <div class="content-produto-etiqueta">
                    <p>Teste</p>
                </div>
            </div>
        </div>
    </section>
</main>
<script src="../static/script.js">
</script>
</body>
</html>